@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app{
    height: 100%;
    background:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./images/city.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    background-color: whitesmoke;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 3%;
    box-shadow: 13px 13px;
}
.heading{
    display: flex;
    align-items: center;
    height: 575px;
    font-family: 'Nova Square', cursive;

}
.button {
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px;
    width: 210px;
    color: blue;
    background-color: white;
    border: 1px solid blue;
}
    
.button:focus{
  background-color: white;
  height: 200px;
  width: 210px;
}
.button:hover{
    height: 220px;
    width: 225;
    font-weight : bold;
    font-size: large;
}
  @media only screen and (max-width: 600px) {
    .card {
        width: 80%;
        height: 30%;
    }
}
